<div class="chatboxmessagecontent">
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).name %><div class="time"><%= message.created_at.strftime("%I:%M %p") %></div>
    </time>
    <p><%= message.body %></p>
</div>