<div class="chat-container">
    <div class="chat-box-title">
      <div class="title-text"><%= @receiver.name %></div>
    </div>
  <div class="chat-window">
    <div class="message-container">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
    </div>
    <div class="input-container">
      <%= form_for([@conversation, @message], :remote => true, :html => { id: "conversation_form_#{@conversation.id}"}) do |f| %>
      <div class="inner-wrapper">
        <div><%= f.text_area :body, class: "textbox", "data-cid" => @conversation.id %></div>
        <div><%= f.submit "SEND", class: "send-btn"%></div>
        <div class="clear"></div>
      </div>
    </div>
      <% end %>
</div>

<%= subscribe_to conversation_path(@conversation) %>